[flake8]
max-line-length = 79
extend-ignore = E203
exclude =
    .git,
    __pycache__,
    venv,
    .venv,
    */migrations/*
application-import-names = about, catalog, homepage, lyceum
import-order-style = google
inline-quotes = double
multiline-quotes = double
docstring-quotes = double