[flake8]
max-line-length = 79
exclude =
    .git,
    __pycache__,
    venv,
    .venv,
    */migrations/*
application-import-names = about, catalog, core, download, feedback, homepage, lyceum, users
import-order-style = google
inline-quotes = double
multiline-quotes = double
docstring-quotes = double