{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "My ratings" %}{% endblock %}

{% block content %}
  <h2 class="mb-3">{% trans "Items I rated" %}</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>{% trans "Item" %}</th>
        <th>{% trans "Rating" %}</th>
      </tr>
    </thead>
    <tbody>
      {% for user_rating in user_ratings %}
        <tr>
          <td>{{ user_rating.item.name }}</td>
          <td>{{ user_rating.value }}</td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="2">{% trans "You have not rated any items yet." %}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}