{% load static %}
{% load i18n %}
<div class="col-md-4 mb-4">
  <div class="card h-100 shadow-sm">
    <div class="card-body d-flex flex-column">
      <h5 class="card-title">{{ item.name }}</h5>
      <p class="card_category">{{ item.category.name }}</p>
      <p class="card-text">{{ item.text|truncatewords:10 }}</p>
      {% for tag in item.tags.all %}
        <p class="card_tag">{{ tag.name }}</p>
      {% endfor %}
      <a href="{% url 'catalog:item_detail' item.pk %}" class="btn btn-primary mt-auto">
        {% trans "Details" %}
      </a>
    </div>
  </div>
</div>